.style{
  background-color: antiquewhite;
  color: black;
border: 5px black;
     border-collapse: collapse;
    text-transform: uppercase;
   font: bold 1.0em "Trebuchet MS", Verdana, Arial, Helvetica,
sans-serif;
  
}
.fiyat{
    background-color: firebrick;
    color: white;
   
}
.renk{
    font: bold 1.0em "Trebuchet MS", Verdana, Arial, Helvetica,
sans-serif;
   
    
}
.btn{
    
        font: bold 1.0em "Trebuchet MS", Verdana, Arial, Helvetica,
sans-serif;
    border-radius: 4px;
    background-color: darkseagreen;
    
}
h1{
     font: bold 1.25em "Trebuchet MS", Verdana, Arial, Helvetica,
sans-serif;
    
}